*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

section {
  padding: 50px 20px 0;
}
section h2 {
  color: #E84849;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 2rem;
}

header {
  padding: 0 20px 0;
  margin-top: 10px;
}

.menu {
  list-style: none;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
}

header {
  display: flex;
  background-color: white;
}
header h1 {
  font-size: 1.4rem;
  font-weight: 100;
}

.nav {
  display: none;
}

.nav.open {
  display: block;
  margin-top: 10px;
  order: 1;
  position: relative;
  top: 30px;
  right: 315px;
  font-size: 1rem;
}

.menu li {
  padding: 3px;
}
.menu li a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
}

.burger-menu {
  order: 2;
  display: inline-block;
  cursor: pointer;
  margin-left: auto;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.9s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#hero h2 {
  color: #000;
  font-size: 1.7rem;
}

.hero-images {
  position: relative;
}

.main-hero-image img {
  width: 100%;
  height: auto;
}

.circles {
  position: absolute;
  width: 60px;
  top: 92%;
  left: 72%;
}

.cube {
  position: absolute;
  width: 25px;
  top: -5%;
  right: 10%;
}

.ellipse {
  position: absolute;
  width: 15px;
  top: 100%;
  left: -5%;
}

.zigzags {
  position: absolute;
  width: 30px;
  top: -1%;
  left: -10%;
}

.plus {
  position: absolute;
  width: 20px;
  top: -10%;
  left: 40%;
}

.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 50px;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#skills {
  place-items: center;
}

.skills-image img {
  width: 350px;
  height: auto;
  margin-bottom: 40px;
}

.skills-menu {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.skills-logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 50px;
}

.skills-logos img {
  width: 90px;
  height: auto;
}

.skills-panel {
  display: none;
}

.skills-panel.active {
  display: block;
}

.skills-menu button,
.hero-content button {
  max-width: 90%;
  padding: 15px;
  color: white;
  background-color: #E84849;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.skills-menu button:hover,
.hero-content button:hover {
  background-color: #fd7979;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

.hero-content .btn-primary--lg {
  font-size: 1.4rem;
  padding: 18px;
}

#projects {
  display: grid;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  border: 1px solid blue;
  background-color: #343d68;
}

#projects h2 {
  color: white;
  font-weight: 300;
}

.headline-section {
  margin-top: 15px;
  color: #e5e6eb;
}
.headline-section p {
  text-transform: capitalize;
}

.external {
  width: auto;
  min-height: 90px;
  display: grid;
  place-items: center;
}

.internal {
  border: 2px solid;
  border-image: linear-gradient(45deg, #262c4c, #7c87c3) 1;
  width: 340px;
  min-height: 260px;
  padding: 10px;
  margin: 20px;
  place-items: center;
  background-color: #262c4c;
  overflow: hidden;
}

.headlines {
  position: static;
  color: white;
  place-items: center;
}
.headlines h3 {
  margin: 25px 0px 5px;
  font-weight: 100;
  font-size: 1rem;
}
.headlines p {
  margin: 15px 0px 30px;
  font-weight: 100;
  font-size: 0.8rem;
}

.img-block {
  height: 270px;
  max-width: 250px;
  overflow: hidden;
  position: relative;
}
.img-block img {
  width: 240px;
  height: auto;
  position: relative;
}

.internal a {
  padding: 12px;
  background-color: #343d68;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  margin-bottom: 20px;
  display: inline-block;
  font-style: none;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 100;
}

#contact {
  place-items: center;
  background-color: #f7f6fb;
}
#contact img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
  margin-bottom: 40px;
}

#contact fieldset {
  border: none;
  margin-top: 70px;
}
#contact fieldset p {
  font-size: 1.2rem;
}

#contact legend {
  font-size: 1.4rem;
  margin-bottom: -10px;
}

#contact label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-transform: capitalize;
}

#contact input,
#contact select,
#contact textarea {
  margin-top: 6px;
  padding: 12px 14px;
  font-size: 1.5rem;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  outline: none;
}

#contact button {
  display: inline-flex;
  position: relative;
  align-items: center;
  color: #fff;
  padding: 0 14px 0;
  gap: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #343d68;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
}
#contact button img {
  width: 25px;
  position: relative;
  top: 20px;
}

.field {
  position: relative;
  margin-top: 20px;
}

.field input {
  width: 100%;
  padding: 14px 12px;
}

.field label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-120%);
  color: #777;
  pointer-events: none;
  transition: 0.2s ease;
  padding: 0 4px;
  font-size: 1.2rem;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  top: -6px;
  color: #777;
  font-size: 0.5rem;
  font-size: 1rem;
}

.field textarea:focus + label,
.field textarea:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 1rem;
}

.field textarea {
  width: 100%;
}

footer {
  background-color: #343d68;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  gap: 15px;
  padding-bottom: 20px;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.social-media img {
  width: 50px;
  height: auto;
  margin: 15px 0 15px;
  filter: invert(1);
}

.right img {
  width: 50px;
  height: 50px;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(255, 255, 255);
    padding: 0 30px 0;
  }
  header h1 {
    font-size: 2rem;
    font-weight: 100;
  }
  .menu {
    display: flex;
    gap: 30px;
  }
  .burger-menu {
    display: none;
  }
  .nav {
    display: block;
  }
  .menu li a {
    text-decoration: none;
    color: #575a89;
    font-weight: 500;
    font-size: 1.7rem;
  }
}
@media (min-width: 768px) {
  #hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    place-items: center;
  }
  #hero h2 {
    font-size: 3.5rem;
    font-style: none;
  }
  .hero-images {
    position: relative;
  }
  .main-hero-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .circles {
    position: absolute;
    width: 80px;
    top: 72%;
    left: 72%;
  }
  .cube {
    position: absolute;
    width: 35px;
    top: -5%;
    right: 10%;
  }
  .ellipse {
    position: absolute;
    width: 20px;
    top: 70%;
    left: -5%;
  }
  .zigzags {
    position: absolute;
    top: -1%;
    left: -10%;
  }
  .plus {
    position: absolute;
    top: -10%;
    left: 40%;
  }
  .hero-content h2 {
    font-weight: 100;
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 2.3rem;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  #skills {
    place-items: center;
  }
  .skills-image img {
    width: 550px;
    height: auto;
    margin-bottom: 40px;
  }
  .skills-menu {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  .skills-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 50px;
  }
  .skills-logos img {
    width: 90px;
    height: auto;
  }
  .skills-panel {
    display: none;
  }
  .skills-panel.active {
    display: block;
  }
  .skills-menu button,
  .hero-content button {
    max-width: 90%;
    padding: 15px;
    color: white;
    background-color: #E84849;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  .skills-menu button:hover,
  .hero-content button:hover {
    background-color: #fd7979;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  }
  .hero-content .btn-primary--lg {
    font-size: 1.4rem;
    padding: 18px;
  }
}
@media (min-width: 768px) {
  #projects {
    display: grid;
    grid-template-rows: repeat(3, auto);
    place-items: center;
    border: 1px solid blue;
    background-color: #343d68;
  }
  .headline-section {
    margin-top: 15px;
    color: #e5e6eb;
  }
  .headline-section h2 {
    font-weight: 300;
  }
  .headline-section p {
    text-transform: capitalize;
  }
  .external {
    width: auto;
    min-height: 90px;
    display: grid;
    place-items: center;
  }
  .internal {
    border: 2px solid;
    border-image: linear-gradient(45deg, #262c4c, #7c87c3) 1;
    width: 340px;
    min-height: 260px;
    padding: 10px;
    margin: 20px;
    place-items: center;
    background-color: #262c4c;
    overflow: hidden;
  }
  .headlines {
    position: static;
    color: white;
    place-items: center;
  }
  .headlines h3 {
    margin: 25px 0px 5px;
    font-weight: 100;
    font-size: 1rem;
  }
  .headlines p {
    margin: 15px 0px 30px;
    font-weight: 100;
    font-size: 0.8rem;
  }
  .img-block {
    height: 270px;
    max-width: 250px;
    overflow: hidden;
    position: relative;
  }
  .img-block img {
    width: 240px;
    height: auto;
    position: relative;
  }
  .internal a {
    padding: 12px;
    background-color: #343d68;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
    font-style: none;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 100;
  }
}
@media (min-width: 768px) {
  #contact {
    place-items: center;
    background-color: #f7f6fb;
  }
  #contact img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
    margin-bottom: 40px;
  }
  #contact fieldset {
    border: none;
    margin-top: 70px;
  }
  #contact fieldset p {
    font-size: 1.2rem;
  }
  #contact legend {
    font-size: 1.4rem;
    margin-bottom: -10px;
  }
  #contact label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-transform: capitalize;
  }
  #contact input,
  #contact select,
  #contact textarea {
    margin-top: 6px;
    padding: 12px 14px;
    font-size: 1.5rem;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    outline: none;
  }
  #contact button {
    display: inline-flex;
    position: relative;
    align-items: center;
    color: #fff;
    padding: 0 14px 0;
    gap: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #343d68;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
  }
  #contact button img {
    width: 25px;
    position: relative;
    top: 20px;
  }
  .field {
    position: relative;
    margin-top: 20px;
  }
  .field input {
    width: 100%;
    padding: 14px 12px;
  }
  .field label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-120%);
    color: #777;
    pointer-events: none;
    transition: 0.2s ease;
    padding: 0 4px;
    font-size: 1.2rem;
  }
  .field input:focus + label,
  .field input:not(:placeholder-shown) + label {
    top: -6px;
    color: #777;
    font-size: 0.5rem;
    font-size: 1rem;
  }
  .field textarea:focus + label,
  .field textarea:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 1rem;
  }
  .field textarea {
    width: 100%;
  }
}
@media (min-width: 768px) {
  footer {
    background-color: #343d68;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 15px;
    padding-bottom: 20px;
  }
  .social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .social-media img {
    width: 50px;
    height: auto;
    margin: 15px 0 15px;
    filter: invert(1);
  }
  .right img {
    width: 50px;
    height: 50px;
  }
  .footer-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}