*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 510px) {
  header {
    display: flex;
    background-color: rgb(195, 255, 252);
  }
  header h1 {
    font-size: 1rem;
  }
  .nav {
    display: none;
  }
  .nav.open {
    display: block;
    order: 1;
  }
  .burger-menu {
    order: 2;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .hero-image img {
    width: 250px;
    height: auto;
  }
  #hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  #skills {
    place-items: center;
  }
  .skills-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .skills-image img {
    width: 350px;
    height: auto;
  }
  .skills-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-logos img {
    width: 90px;
    height: auto;
  }
  .skills-panel {
    display: none;
  }
  .skills-panel.active {
    display: block;
  }
  #projects {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
  }
  .external {
    border: 1px solid rgb(0, 0, 0);
    width: 340px;
    min-height: 90px;
    display: grid;
    place-items: center;
  }
  .internal {
    border: 1px solid rgb(85, 255, 0);
    width: 240px;
    min-height: 260px;
    padding: 10px;
    margin: 20px;
    place-items: center;
  }
  .headlines {
    position: static;
  }
  .headlines h3 {
    margin: 25px 0px 5px;
    font-weight: 300;
  }
  .headlines p {
    margin: 15px 0px 30px;
  }
  .img-block {
    border: 2px solid rgb(4, 4, 4);
    height: 270px;
    max-width: 250px;
    overflow: hidden;
    position: relative;
  }
  .img-block img {
    width: 480px;
    height: auto;
    position: relative;
    left: 5px;
  }
  .btn-project {
    border: 1px solid greenyellow;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(151, 212, 192);
    font-size: 1rem;
    font-style: up;
    text-transform: uppercase;
  }
  #contact {
    place-items: center;
  }
  #contact img {
    display: block;
    margin: 0 auto;
  }
  footer {
    background-color: rgb(187, 223, 255);
    place-items: center;
  }
  .social-media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .social-media img {
    width: 50px;
    height: auto;
  }
  .right img {
    width: 50px;
  }
}
section {
  padding: 10px;
}

header {
  padding: 10px;
}

.menu {
  list-style: none;
}