@use 'base/reset';
@use 'base/helpers';
@use 'base/base';
@use 'responsive/header-mobile';
@use 'responsive/hero-mobile';
@use 'responsive/skills-mobile';
@use 'responsive/projects-mobile';
@use 'responsive/contact-mobile';
@use 'responsive/footer-mobile';

@use 'tablet/header-tablet';
@use 'tablet/hero-tablet';
@use 'tablet/skills-tablet';
@use 'tablet/projects-tablet';
@use 'tablet/contact-tablet';
@use 'tablet/footer-tablet';

@use 'desktop/header-desktop';
@use 'desktop/hero-desktop';
@use 'desktop/skills-desktop';
@use 'desktop/projects-desktop';
@use 'desktop/contact-desktop';
@use 'desktop/footer-desktop';