@media (min-width: 768px) {

    // FOOTER

    footer {
        background-color: #343d68;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
        gap: 15px;
        padding-bottom: 20px;
    }


    .social-media {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        img {
            width: 50px;
            height: auto;
            margin: 15px 0 15px;
            filter: invert(1);
        }
    }



    .right img {
        width: 50px;
        height: 50px;
    }

    .footer-content {

        display: flex;
        align-items: center;
        gap: 12px;
    }



}