@media (min-width: 768px) {

    header {
        display: flex;
        background-color: rgb(0, 255, 17);

        h1 {
            font-size: 1.4rem;
            font-weight: 100;
        }
    }

    .nav {
        display: none;

    }

    .nav.open {
        display: block;
        margin-top: 10px;
        order: 1;
        position: relative;
        top: 30px;
        right: 315px;
        font-size: 1rem;
    }

    .menu li {

        padding: 3px;
        // border-bottom: 1px solid #333;

        a {
            text-decoration: none;
            color: #111;
            font-weight: 500;
            font-size: 1.1rem;
        }

        // a:hover {
        //     background-color: #7c87c3;

        // }
    }


    .burger-menu {
        order: 2;
        display: inline-block;
        cursor: pointer;
        margin-left: auto;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

}