@media (min-width: 768px) {

    // PROJECTS

    #projects {
        display: grid;
        grid-template-rows: repeat(3, auto);
        place-items: center;
        border: 1px solid blue;
        background-color: #343d68;
    }


    #projects h2 {
        color: #e5e6eb;
        font-weight: 300;
        font-size: 2.5rem;
    }


    .headline-section {
        margin-top: 15px;
        color: #e5e6eb;
        place-items: center;

        p {
            text-transform: capitalize;
            font-size: 1.5rem;
        }
    }

    .external {
        width: auto;
        min-height: 90px;
        display: grid;
        place-items: center;

    }

    .internal {
        border: 2px solid;
        border-image: linear-gradient(45deg, #262c4c, #7c87c3) 1;
        width: 740px;
        min-height: 460px;
        padding: 10px;
        margin: 20px;
        place-items: center;
        background-color: #262c4c;
        overflow: hidden;
    }


    .headlines {
        position: static;
        color: white;
        place-items: center;

        h3 {
            margin: 25px 0px 5px;
            font-weight: 100;
            font-size: 2.5rem;
        }

        p {
            margin: 15px 0px 30px;
            font-weight: 100;
            font-size: 1.8rem;
        }
    }

    .img-block {
        height: 470px;
        max-width: 450px;
        overflow: hidden;
        position: relative;

        img {
            width: 440px;
            height: auto;
            position: relative;
        }
    }

    .internal a {
        padding: 12px;
        background-color: #343d68;
        border-radius: 5px;
        border: 1px solid white;
        color: white;
        margin-bottom: 20px;
        display: inline-block;
        font-style: none;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 100;

    }


}