

   // HERO

   #hero h2 {
    color: #000;
    font-size: 1.7rem;
   }


    .hero-images {
        position: relative;
    }


    .main-hero-image img {
        width: 100%;
        height: auto;
    }

    .circles {
        position: absolute;
        width: 60px;
        top: 92%;
        left: 72%;
    }

    .cube {
        position: absolute;
        width: 25px;
        top: -5%;
        right: 10%;
    }

    .ellipse {
        position: absolute;
        width: 15px;
        top: 100%;
        left: -5%;
    }

    .zigzags {
        position: absolute;
        width: 30px;
        top: -1%;
        left: -10%;
    }

    .plus {
        position: absolute;
        width: 20px;
        top: -10%;
        left: 40%;
    }




    .hero-content {

        p {
            font-size: 1.3rem;
            margin-bottom: 50px;
        }
    }

    #hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
