@media (max-width: 510px) {

    header {
        display: flex;
        background-color: rgb(195, 255, 252);


        h1 {
            font-size: 1rem;
        }
    }


    .nav {
        display: none;

    }

    .nav.open {
        display: block;
        order: 1;
    }


    .burger-menu {
        order: 2;
        display: inline-block;
        cursor: pointer;
        margin-left: auto;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }


    // HERO

    .hero-image img {
        width: 250px;
        height: auto;
    }

    #hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


    // SKILLS

    #skills {
        place-items: center;
    }

    .skills-menu ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .skills-image img {
        width: 350px;
        height: auto;
    }

    .skills-logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-logos img {
        width: 90px;
        height: auto;
    }

    .skills-panel {
        display: none;
    }

    .skills-panel.active {
        display: block;
    }

    // PROJECTS

    #projects {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
    }

    .external {
        border: 1px solid rgb(0, 0, 0);
        width: 340px;
        min-height: 90px;
        display: grid;
        place-items: center;
    }

    .internal {
        border: 1px solid rgb(85, 255, 0);
        width: 240px;
        height: 260px;
        padding: 10px;
        margin: 20px;

    }


    .headlines {
        position: static;
    }

    .img-block {
        border: 2px solid rgb(13, 0, 255);
        height: 200px;
        max-width: 250px;
        overflow: hidden;
    }


    // CONTACT
    #contact {
        place-items: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    // FOOTER

    footer {
        background-color: rgb(187, 223, 255);
        place-items: center;
    }

    .social-media {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 50px;
            height: auto;
        }
    }

    .right img {
        width: 50px;
    }



}