@media (max-width: 510px) {

    header {
        display: flex;
        background-color: rgb(195, 255, 252);


        h1 {
            font-size: 1rem;
        }
    }


    .nav {
        display: none;

    }

    .nav.open {
        display: block;
        order: 1;
    }


    .burger-menu {
        order: 2;
        display: inline-block;
        cursor: pointer;
        margin-left: auto;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }


    // HERO

    .hero-image img {
        width: 250px;
        height: auto;
    }

    #hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


    // SKILLS

    #skills {
        place-items: center;
    }

    .skills-image img {
        width: 350px;
        height: auto;
        margin-bottom: 40px;
    }

    .skills-menu {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
    }

    .skills-logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 50px;
    }

    .skills-logos img {
        width: 90px;
        height: auto;
    }

    .skills-panel {
        display: none;
    }

    .skills-panel.active {
        display: block;
    }


    .skills-menu button,
    .hero-content button {
        max-width: 90%;
        padding: 15px;
        color: white;
        background-color: #E84849;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.2rem;
        border: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: #fd7979;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
        }

    }

     .hero-content .btn-primary--lg {
        font-size: 1.4rem;
        padding: 18px;
    }





    // PROJECTS

    #projects {
        display: grid;
        grid-template-rows: repeat(3, auto);
        place-items: center;
        border: 1px solid blue;
        background-color: #343d68;
    }

    .headline-section {
        margin-top: 15px;
        color: #e5e6eb;

        h2 {
            font-weight: 300;
        }

        p {
            text-transform: capitalize;
        }
    }

    .external {
        width: auto;
        min-height: 90px;
        display: grid;
        place-items: center;

    }

    .internal {
        border: 2px solid;
        border-image: linear-gradient(45deg, #262c4c, #7c87c3) 1;
        width: 340px;
        min-height: 260px;
        padding: 10px;
        margin: 20px;
        place-items: center;
        background-color: #262c4c;
        overflow: hidden;
    }


    .headlines {
        position: static;
        color: white;
        place-items: center;

        h3 {
            margin: 25px 0px 5px;
            font-weight: 100;
            font-size: 1rem;
        }

        p {
            margin: 15px 0px 30px;
            font-weight: 100;
            font-size: 0.8rem;
        }
    }

    .img-block {
        height: 270px;
        max-width: 250px;
        overflow: hidden;
        position: relative;

        img {
            width: 240px;
            height: auto;
            position: relative;
        }
    }

    .btn-project {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        background-color: rgb(151, 212, 192);
        font-size: 0.8rem;
        font-style: up;
        color: #fff;
        text-transform: capitalize;
        background-color: #272d4e;
    }


    // CONTACT
    #contact {
        place-items: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    // FOOTER

    footer {
        background-color: rgb(187, 223, 255);
        place-items: center;
    }

    .social-media {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 50px;
            height: auto;
        }
    }

    .right img {
        width: 50px;
    }



}