@media (max-width: 510px) {

    header {
        background-color: rgb(195, 255, 252);
        

        h1 {
            font-size: 1rem;
        }
    }


    .nav {
        display: none;
    }

    .nav.open {
        display: block;
    }


    .burger-menu {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }


    // HERO

    .hero-image img {
        width: 250px;
        height: auto;
    }

    #hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


    // SKILLS

    .skills-menu ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .skills-image img {
        width: 350px;
        height: auto;
    }

    .skills-logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-logos img {
        width: 90px;
        height: auto;
    }

    .skills-panel {
        display: none;
    }

    .skills-panel.active {
        display: block;
    }

    // PROJECTS

    #projects {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }


    // FOOTER

    footer {
        background-color: rgb(187, 223, 255);
    }

    .social-media {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 50px;
            height: auto;
        }
    }

    .right img {
        width: 50px;
    }



}