@media (max-width: 510px) {

    header {
        display: flex;
        background-color: white;


        h1 {
            font-size: 1.4rem;
            font-weight: 100;
        }
    }


    .nav {
        display: none;

    }

    .nav.open {
        display: block;
        order: 1;
        position: relative;
        top: 30px;
        right: 315px;
        font-size: 1rem;
    }

    .menu li {

        padding: 3px;

        a {
            font-size: 1.6rem;
            font-weight: 100;
            color: #000;
        }

    }


    .burger-menu {
        order: 2;
        display: inline-block;
        cursor: pointer;
        margin-left: auto;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }


    // HERO

    .hero-image img {
        width: 250px;
        height: auto;
    }

    .hero-content {

        h2 {
            font-weight: 100;
            font-size: 2rem;
        }

        p {
            font-size: 1.3rem;
            margin-bottom: 50px;
        }
    }

    #hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


    // SKILLS

    #skills {
        place-items: center;
    }

    .skills-image img {
        width: 350px;
        height: auto;
        margin-bottom: 40px;
    }

    .skills-menu {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
    }

    .skills-logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 50px;
    }

    .skills-logos img {
        width: 90px;
        height: auto;
    }

    .skills-panel {
        display: none;
    }

    .skills-panel.active {
        display: block;
    }


    .skills-menu button,
    .hero-content button {
        max-width: 90%;
        padding: 15px;
        color: white;
        background-color: #E84849;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.2rem;
        border: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: #fd7979;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
        }

    }

    .hero-content .btn-primary--lg {
        font-size: 1.4rem;
        padding: 18px;
    }





    // PROJECTS

    #projects {
        display: grid;
        grid-template-rows: repeat(3, auto);
        place-items: center;
        border: 1px solid blue;
        background-color: #343d68;
    }

    .headline-section {
        margin-top: 15px;
        color: #e5e6eb;

        h2 {
            font-weight: 300;
        }

        p {
            text-transform: capitalize;
        }
    }

    .external {
        width: auto;
        min-height: 90px;
        display: grid;
        place-items: center;

    }

    .internal {
        border: 2px solid;
        border-image: linear-gradient(45deg, #262c4c, #7c87c3) 1;
        width: 340px;
        min-height: 260px;
        padding: 10px;
        margin: 20px;
        place-items: center;
        background-color: #262c4c;
        overflow: hidden;
    }


    .headlines {
        position: static;
        color: white;
        place-items: center;

        h3 {
            margin: 25px 0px 5px;
            font-weight: 100;
            font-size: 1rem;
        }

        p {
            margin: 15px 0px 30px;
            font-weight: 100;
            font-size: 0.8rem;
        }
    }

    .img-block {
        height: 270px;
        max-width: 250px;
        overflow: hidden;
        position: relative;

        img {
            width: 240px;
            height: auto;
            position: relative;
        }
    }

    .internal a {
        padding: 12px;
        background-color: #343d68;
        border-radius: 5px;
        border: 1px solid white;
        color: white;
        margin-bottom: 20px;
        display: inline-block;
        font-style: none;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 100;
        
    }


    // CONTACT
    #contact {

        place-items: center;
        background-color: #f7f6fb;

        h2 {
            color: #E84849;
            text-transform: capitalize;
            font-weight: 300;
            font-size: 2rem;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 400px;
            height: auto;
            margin-bottom: 40px;
        }
    }

    #contact fieldset {
        border: none;
        margin-top: 70px;

        p {
            font-size: 1.2rem;
        }
    }

    #contact legend {
        font-size: 1.4rem;
        margin-bottom: -10px;

    }

    #contact label {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin-bottom: 16px;
        text-transform: capitalize;
    }

    #contact input,
    #contact select,
    #contact textarea {
        margin-top: 6px;
        padding: 12px 14px;
        font-size: 1.5rem;
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        outline: none;
    }

        #contact button {
            display: inline-flex;
            position: relative;
            align-items: center;
            color: #fff;
            padding: 0 14px 0;
            gap: 10px;
            border-radius: 5px;
            text-transform: uppercase;
            background-color: #343d68;
            height: 50px;

            img {
                width: 30px;
                position: relative;
                top: 20px;
                
            }
        }




    // FOOTER

    footer {
        background-color: #343d68;
        display: flex;
        flex-direction: column;
        /* на мобиле */
        align-items: center;
        /* ⬅️ центр */
        text-align: center;
        color: #fff;


    }


    .social-media {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        img {
            width: 50px;
            height: auto;
            margin: 15px 0 15px;
        }
    }



    .right img {
        width: 50px;
        height: 50px;
    }

    .footer-content {

        display: flex;
        align-items: center;
        /* по вертикали */
        gap: 12px;
        /* расстояние */
    }



}