@media (max-width: 510px) {
    .menu li {
        list-style: none;
    }

    header {
        background-color: beige;

        h1 {
            font-size: 1rem;
        }
    }

    // .burger-menu {
    //     display: inline-block;
    //     cursor: pointer;
    // }

    // .bar1,
    // .bar2,
    // .bar3 {
    //     width: 35px;
    //     height: 5px;
    //     background-color: #333;
    //     margin: 6px 0;
    //     transition: 0.4s;
    // }

    // .change .bar1 {
    //     transform: translate(0, 11px) rotate(-45deg);
    // }

    // .change .bar2 {
    //     opacity: 0;
    // }

    // .change .bar3 {
    //     transform: translate(0, -11px) rotate(45deg);
    // }

    .hero-image img {
        width: 250px;
        height: auto;
    }

    #hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
            width: 300px;
            height: auto;
        }
    }

    .skills {
        align-content: center;
    }

    #projects {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    footer {
        background-color: rgb(187, 223, 255);
    }

    .social-media {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 50px;
            height: auto;
        }
    }

    .right img{
        width: 50px;
    }

}