section {
    padding: 20px 20px 0;

    h2 {
        color: #E84849;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 2rem;
    }
}

header {
    padding: 0 20px 0;
    margin-top: 10px;
}

.menu {
    list-style: none;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
}